.login-panel
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 32rem
  height: auto
  border-radius: 0.3rem
  box-shadow: 0 1rem 3rem rgba($primary-text-color, 0.35)
  overflow: hidden
  background-color: $secondary-text-color

  .fa-user,
  .fa-key,
  .fa-eye,
  .fa-eye-slash
    position: absolute
    top: 1.6rem
    color: $primary-variant-text-color

  .fa-user,
  .fa-key,
    right: 1.4rem

  .fa-eye,
  .fa-eye-slash
    right: 3.2rem
    cursor: pointer
